@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/Montserrat-Bold.ttf");
  }
  
  @font-face {
    font-family: "Droid Serif";
    src: url("/fonts/droidserif/DroidSerif.ttf.ttf");
  }

.input-box{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .label{
        padding: 5px 0px;
        font-family: "Droid Serif",sans-serif;
    }

    .input{
        padding: 10px;
        border-radius: 5px;
        resize: none;
        font-family: "DroidSerif",sans-serif;
    }
    .error-msg{
        color: red;
        font-size: 0.9rem;
        font-family: "DroidSerif",sans-serif;
    }
}